{% extends "base.html" %}

{% block title %}About - Flask App{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>About Our Flask Application</h1>
        <p class="lead">This is an advanced Flask tutorial demonstrating various features and best practices.</p>
        
        <h3>Features Demonstrated</h3>
        <ul class="list-group">
            <li class="list-group-item">Template inheritance with Jinja2</li>
            <li class="list-group-item">Form handling and validation</li>
            <li class="list-group-item">Dynamic routing with URL parameters</li>
            <li class="list-group-item">Flash messaging system</li>
            <li class="list-group-item">Custom error pages</li>
            <li class="list-group-item">JSON API endpoints</li>
            <li class="list-group-item">Search functionality</li>
            <li class="list-group-item">Custom template filters</li>
        </ul>
    </div>
</div>
{% endblock %}